<!DOCTYPE html>
<html lang="en">
    <title>BMI</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Body Mass Index</h1>
            <h3>Please fill the entries</h3>
            <form action="{{url_for('success')}}" method="POST">
                <input placeholder="Email" type="email" name="email_name" required><br>
                <input placeholder="Enter Height in cms" type="number" name="height_name" required><br>
                <input placeholder="Enter Weight in Kgs" type="number" name="weight_name" required><br>
                <button type="submit">submit</button>
            </form>
        </div>
    </body>
</html>
